<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Climate Data, Sortable by Column">
        <meta name="author" content="Jack Desert">

        <title>Where to Live in 2022</title>

        <link href="bootstrap_4.1.2.css" rel="stylesheet">
        <link href="theme.css?cb={{ tstamp }}" rel="stylesheet">

    </head>

    <body id='body'>

        <div class="container">
            <div class='row'>
                <div class='col-12'>
                    <div class='banner'>
                        <h1 class='page__title'>
                            Where to Live
                            <br>
                            <span class='page__subtitle'>in 2022</span>
                        </h1>
                    </div>
                </div>
            </div>

        <script src="vue.js"></script>
        <script src="site.js?cb={{ tstamp }}"></script>
        <script>
            var GLOBALS = {}
        </script>

            <div class="row">
                <div class="col-12">
                    {% block content %}
                    <p>No content</p>
                    {% endblock content %}
                </div>
            </div>


        </div>

    </body>
</html>
