{% extends "templates/layout.jinja2" %}

{% block content %}
<div class="content">

    <div id='intro'>

        <p>Click on any column header to sort</p>
        <ul>
            <li>
                Daytime score means of all the daytime hours (8am - 10pm)
                in a year, what percent of them are comfortable. (See <a href='#comfort-map'>comfort map</a>.)
            </li>
            <li>
                Summer score only counts daytime hours in the months of june, july, august.
            </li>
            <li>
                Evening score is hours between 4pm and 8pm for the whole year.
            </li>
        </ul>
    </div>
    <div id='stations-table-holder'>
        <table>
            <thead>
                <tr>
                    <th v-for="header in {{ headers }}" v-bind:id='header' v-on:click='sortStations(header)'>${ header }</th>
                </tr>
            </thead>
            <tbody id='drivers-tbody'>
                <tr v-for='(station, station_index) in stations'>
                    <td v-for='item, key in station'>${ item }</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div>
        <h2 id='comfort-map'>Comfort Map</h2>
        <p>(Dark blue is considered comfortable)</p>
        <img src='comfort.png'></img>
    </div>
    <p>Updated at {{ updated_at }}</p>
    <p><a href='https://gitlab.com/jackdesert/climate'>Source code</a></p>


    <script>
        // Use |safe filter so jinja2 does not escape the quotes
        {# Javascript strings use four backslashes to escape quotes, so replace #}
        GLOBALS.stations_json = '{{ stations_json | replace('\\"', '\\\\"') | safe }}'

        initializeStationsTable()

    </script>

{% endblock content %}
